@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Montserrat";
}

#Banner {
  background-image: url(/imagens/header.png);
  height: 60vh;
  display: flex;
  align-items: center;
  background-size: cover;
}

#Formulario {
  width: 400px;
  margin-left: 100px;
  color: white;
}

/*Formatar o 1º parágrafo da div*/
#Formulario p:nth-of-type(1) {
  font-weight: 700;
}

#Formulario input {
  width: 80%;
  padding: 15px;
  font-size: 16px;
  text-align: center;
}

.Yellow_button {
  background-color: yellow;
  border: none;
  width: 80%;
  padding: 15px;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  margin-top: 10px;
  transition: all 0.3s;
}

.Yellow_button:hover {
  background-color: black;
  color: yellow;
}

#Form_desktop .form-dados {
  display: flex;
  align-items: center;
  gap: 10px; 
}

#Form_desktop input[type="email"] {
  flex: 1;
  min-width: 280px;
  padding: 10px;
}

#Form_desktop .Yellow_button {
  padding: 10px 20px;
  white-space: nowrap;
  height: 100%;
  margin-bottom: 10px;
}

#Form_tablet{
  background-color: #202226;
  color: white;
  padding: 30px;
  text-align: center;
  display: none;
}

#Form_tablet input {
  width: 80%;
  padding: 20px;
}

.Section {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
}

.Gray_section {
  background-color: #202226;
}

.Black_section {
  background-color: #171717;
}

.Yellow_text {
  color: yellow;
}

.Content {
  width: 800px;
}

.Icon {
  width: 202px;
  height: 202px;
}

#Author {
  width: 400px;
  height: 400px;
  border-radius: 100%;
}

.About {
  width: 550px;
  margin-left: 70px;
}

#Learn_more{
  min-width: 550px;
}

#Learn_more h1{
  font-size: 45px;
}

#smartphone{
  height: 500px;
  width: auto;
}

#Last_section{
  flex-wrap: wrap-reverse;
}

#Last_section button{
  margin: auto;
}

footer{
  color: white;
}

/* Responsividade - Tablet */
@media screen and (min-width:768px) and (max-width:1024px){
  #Form_desktop{
    display: none;
  }
  #Formulario h1{
    font-size: 4vw;
  }
  #Form_tablet{
    display: block;  
  }
}

/*Responsividade - Smartphone */
@media screen and (max-width:768px) {
  #Form_desktop{
    display: none;
  }  
  #Formulario {
    margin-left: 25px;
  }
  #Formulario h1{
    font-size: 4.5vw;    
  }
  #Form_tablet{
    display: block;
  }
  #Learn_more{
    width: 10vw;
    margin: auto;
    text-align: center;
  }
}